@font-face {
    font-family: 'Boldonse';
    src: url('@/app/fonts/Boldonse-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1{
}
body{
	font-family: 'Boldonse';
    margin: 0;
    padding: 0;
	background-color: rgb(255, 255, 255);
}
.container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	z-index: 10;
}

.tile {
	width: 35vw;
	flex: 0 0 auto;
}
.tile__figure{
	height: 100%;
	width: 35vw;
}
.tile__image {
	display: block;
	object-fit: cover;
	object-position: center;
	width: 20vw;
	min-width: 500px;
	aspect-ratio: 16/7;
	height: 60vh;
	margin: auto;
	opacity: 0;
}

canvas {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: 9;
}
.scrolltriger{
	width: 100vw;
	overflow: hidden;
}
.backgroud-text{
	font-size: 8vw;
	text-transform: uppercase;
	border-bottom: solid 4px black;
}
.backgroud-text .container-fluid{
	display: flex;
	flex-wrap: nowrap;
	text-wrap: nowrap;
}
.block-content-scroll .content-flex{
	display: flex;
}
.block-content-scroll .content-flex > div{
	width: 50%;
	padding: 50px;
}
.block-content-scroll  .content-text{ 
	border-right: solid 4px black;
}